.arrow{
    position: absolute;
    top: 140px;
    right: 0;
    border: 1px solid lightgrey;
    color: white;
    z-index: 1;
}

.tabs_header-container{
    display: flex;
}

.instructor{
    opacity: 0;
}

.person-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}