/* src/components/VideoSidebar.css */

.video-sidebar {
  border-left: 1px solid #ddd;
  width: 30%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  /* border: red solid 2px ; */
  overflow-y: scroll;
  max-height: 800px; 
  min-height: 100px;
}

.player-wrapper {
  position: relative;
  padding-top: 52.25%; /* 720 / 1280 = 0.5625 */
  width: 70%;

}

.react-player {
  position: absolute;
  top: 0;
  z-index: 0;
  left: 0;
  height: auto !important;
  object-fit: fill;
  background-color: #333;
  aspect-ratio: 16/9;
}

.video-sidebar h3 {
  color: #333;
  margin-bottom: 10px;
}

.video-sidebar ul {
  list-style: none;
  padding: 0;
}

.video-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.video-item img {
  width: 80px; /* Adjust the width as needed */
  height: 60px; /* Adjust the height as needed */
  margin-right: 10px;
  object-fit: cover;
}
.video-info{
  font-size: larger;
  text-transform: capitalize;
 
}
.video-info a {
  color: #555;
  text-decoration: none;
}

.video-info a {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.course-detail{
display: flex;
flex-direction: column;
justify-content: center;
padding-right: 10px;
}

.section{

width: 100vh;

}

.react-player-container{
padding-left: 15px;
}

.sidebar-content{
  max-height:   200px;
   overflow: auto
}

@media only screen and (max-width: 768px) {
  /* Your CSS styles for mobile devices here */
  
.section  {
    position: absolute;
    top: 63px;
   right: 0;
  }

  .section_title{
    font-size: small !important;
  }

  .video-sidebar{
    position: absolute;
    top: 37px;
    right: 0px;
    z-index: 99;
    width: 30%;
  }
  .title-content{
    font-size: small !important;
    padding-left: 90px;
    position: relative;
    right:10px !important;
  }

  .h3{
 
    position: absolute;
    right: 0;
    font-size: small;
  }

}

.title-content{
  font-size: medium;
  padding-left: 80px;
  font-weight: "600";
  cursor: pointer;
}

.h3{
 background-color: white;
  padding: 10px 0px 10px 20px;
   border-bottom: 1px solid gray
  }