/* src/components/VideoSidebar.css */

.video-sidebar {
    width: 30%;
    padding: 20px;
    border-left: 1px solid #ddd;

  }
  
  .section {
    margin-bottom: 20px;
  }
  

 
  .video-sidebar h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .video-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .video-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .video-item img {
    width: 80px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin-right: 10px;
    object-fit: cover;
  }
  .video-info{
    font-size: larger;
    text-transform: capitalize;
   
  }
  .video-info a {
    color: #555;
    text-decoration: none;
  }
  
  .video-info a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
.course-detail{
  align-self: flex-start;
  padding-right: 10px;
}